body, div
{
	margin: 0;
	padding: 0;
}

#title
{
	font-size: 20pt
}

.subtitle
{
	font-size: 15pt
}

#left
{
	position: absolute;
	float: left;
	left: 0px;
	width: 20%;
	height: 100%;
	background: red /* left sidebar */
}

#right
{
	position: absolute;
	float: right;
	right: 0px;
	width: 20%;
	height: inherit;
	background: blue /* right sidebar */
}

#middle
{
	background: yellow
}

.column_in
{
	margin: 0;
	padding: 0.5em 1em
}

#cleaner
{
	clear: both;
	height: 1px;
	font-size: 1px;
	border: none;
	background: transparent
}
