body, div
{
	margin: 0;
	padding: 0;
}

#title
{
	font-size: 20pt;
	background: #deb887
}

.subtitle
{
	font-size: 15pt
}

#main1
{
	height: 85%
}

#left
{
	position: absolute;
	float: left;
	left: 0px;
	width: 17%;
	height: 85%;
	background: #9acd32
}

#left ul
{
    width: 100%
}

#left li
{
    position: relative;
    left: -1.5em;
    width: 100%
}

#right
{
	position: absolute;
	float: right;
	right: 0px;
	width: 17%;
	height: 85%;
	background: #4682b4
}

#middle
{
	position: relative;
	left: 17%;
	width: 66%;
	height: 100%;
	background: #000080;
	color: white;
	overflow: auto
}

#middle a
{
	color: #adff2f
}

#middle a:visited
{
	color: #b8860b
}

.column_in
{
	margin: 0;
	padding: 0.5em 1em
}

#cleaner
{
	clear: both;
	height: 1px;
	font-size: 1px;
	border: none;
	background: transparent
}

.gist-file
{
    font-size: 10pt !important
}

.gist-meta
{
    background-color: #000080 !important;
    color: white !important
}
