<html>
	<head>
		{% if page.is_post %}
			<title>{{ page.title }} - (map *prn* thoughts)</title>
		{% else %}
			<title>{{ page.title }}</title>
		{% endif %}
		<link rel="stylesheet" href="http://durka.github.com/style.css"/>
	</head>
	<body>
		<div id="title">
			<div class="column_in">
				(map prn *thoughts*)
			</div>
		</div>

		<div id="main1">
			<div id="left">
				<div class="column_in">
					<div class="subtitle">
						(keys *thoughts*)
					</div>
					<ul>
						{% for post in site.posts %}
						<li><a href="{{ post.url }}">{{ post.title }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>

			<div id="right">
				<div class="column_in">
					<span class="subtitle">
						(meta *thoughts*)
					</span>
				</div>
			</div>

			<div id="middle">
				<div class="column_in">
					{{ content }}
					{% if page.is_post %}
						<div id="comments">
							<span id="IDCommentsPostTitle" style="display:none"></span>
							<script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
						</div>
					{% endif %}
				</div>
			</div>

			<div id="cleaner">&nbsp;</div>

		</div>

		<div id="footer">
			<div class="column_in">
				I'll think of something to put here.
			</div>
		</div>
	</body>
</html>
